body{
    background-image: url(aboutbg.jpg);
    background-size:contain;
    background-repeat:inherit ;
}
pre{
    font-size: 40px;
}
#2{
    border:10px;
    color:green;
    background-color:blueviolet
}
table tr td{
    flex-wrap: initial;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 0px;
}